* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
img {
  width: 100%;
}
p {
  font-size: 18px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.btn {
  border: none;
  padding: 15px 35px;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
#header {
  background: #292929;
  color: white;
}
.header-logo {
  width: 140px;
}

.nav-menu {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
}
.menu li:last-child {
  margin-right: 0;
}

#banner-part {
  color: white;
  background-image: url(./images/background.png),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.banner-details h2 {
  font-size: 64px;
}
.banner-des {
  margin: 15px 0;
}
.banner-img {
  width: 500px;
}
